<%-include ("partials/header")%>
  
  <section class="d-flex align-items-center">
    <div class="quote__container">
      <div class="quote_image_overlay"></div>
      <h3 class="quote_image_text">
        Protect, rescue, adopt, repeat
      </h3>
    </div>
  </section>

  <section class="process center">
    <h1>The Adoption Process</h1>
    <div class="row d-flex">
      <span class="col-4">
        <h3>Application</h3>
        When you’ve found your new pet, you’re ready to fill out the application! Someone will get back to you within 48
        hours of submission.
      </span>
      <span class="col-4">
        <h3>Approval</h3>
        Once you are approved, a volunteer or foster parent will reach out to you to schedule a meet and greet with the
        soon to be pet.
      </span>
      <span class="col-4">
        <h3>Home Visit</h3>
        After the meet and greet, we’ll schedule a home visit for your soon to be pet to get acquainted with their new
        environment..
      </span>
    </div>

    <div class="center container">
      <h2>The Home Visit</h2>
      If the home visit goes well, you’ll start a 10 day trial with your potential new pet! We’ll collect the adoption
      at this time and will offer full refund of adoption fee if the pet is returned for any reason in the first 10
      days. You can pay the fee via credit card, check, or website donation.
    </div>
  </section>

  <section class="make-a-difference">
    <h1 class="center">Make a Difference</h1>
    <div class="card-group mx-5">
      <div class="card">
        <img
          src="https://thumbs.dreamstime.com/b/adopt-logo-dont-shop-adopt-adoption-concept-vector-illustration-81826635.jpg"
          class="card-img-top" alt="Adopt">
        <div class="card-body">
          <h5 class="card-title">Adopt a Pet</h5>
          <p class="card-text">Have space in your home and heart. These pups and kittens will fill both of them.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="https://safepetssafefamilies.org.au/wp-content/uploads/2020/07/logo-spfoster.png" class="card-img-top"
          alt="Foster">
        <div class="card-body">
          <h5 class="card-title">Foster</h5>
          <p class="card-text">Help us by fostering a pet until they are ready for a permanent home.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://thumbs.dreamstime.com/b/donation-icon-rectangular-box-paw-print-help-animals-pets-wildlife-concept-linear-logo-poster-black-white-donation-icon-174260379.jpg"
          class="card-img-top" alt="Donate">
        <div class="card-body">
          <h5 class="card-title">Donate</h5>
          <p class="card-text">Donate for a good cause. Your donation could help rescue a precious life. </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </section>

  <%- include("partials/footer") %>