<%- include("partials/header") %>
<div id="carouselExample" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/18562/220-SM838844.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/3214/20-SM107785.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/11749/19-SM355309.jpg" class="d-block w-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" ></span>
     
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" ></span>
      
    </button>
  </div>

  <hr>


  <div class="row">
    <div class="tab-col col-lg-4 col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" height="200px" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    
      <div class="tab-col col-lg-4 col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" height="200px" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
     
      <div class="tab-col col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" height="200px" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      
  </div>
  
<%- include("partials/footer") %>
