<%- include("partials/header") %>
<div class="login-page">
    <img class="background-image" src="/images/login-background.jpg" alt="">
    <div class="login-inner">
        <h1 class="login">Login Here</h1>
        <div class="form">
            <div>
                <div class="form-component">
                    <label for="">Email Id</label>
                    <input class="input" type="email" name="username" id="">
                </div>
                <div class="form-component">
                    <label for="">Password</label>
                    <input class="input" type="password" name="password" id="">
                </div>
                <div class="form-component">
                    <button class=" btn btn-outline-dark btn-dark" onclick="handleLogin()">Login</button>
                </div>
                <div class="form-component">
                    <p>Create an account <a href="/register">Register Here</a> </p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script>
    const handleLogin = async ()=>{
        const email = document.querySelector('input[name="username"]').value;
        const password = document.querySelector('input[name="password"]').value;

        if (!isEmail(email)) {
            alert("Please enter a valid email address");
            return;
        }

        let response = await fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
        });
        response = await response.json();
        if(response.success) localStorage.setItem('htoken', response.token);
        alert(response.message);
        location.href = "/";
    };

    const isEmail = (email) => {
    var re = /\S+@\S+\.\S+/;
    return re.test(email);
  };
</script>

<%- include("partials/footer") %>